options {
    directory "/var/cache/bind";

    recursion yes;
    allow-recursion { localhost; local_network; };

    allow-query {
        localhost;
        local_network;
    };

    forwarders {
        {% for network in dns_forwarders %}
        {{ network }};
        {% endfor %}
    };

    dnssec-validation no;

    #auth-nxdomain no; # conform to RFC1035
    listen-on-v6 { any; };
};

acl local_network {
    {% for network in acl_allowed_networks %}
    {{ network }};
    {% endfor %}
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transfer" {
        algorithm hmac-sha256;
        secret "{{ dns_transfer_key }}";
};

key "nsupdate" {
        algorithm hmac-sha256;
        secret "{{ dns_update_key }}";
};